[submodule "deps/PEAS"]
	path = deps/PEAS
	url = git@github.com:Power-Supply-Manufacturers-Association/PEAS.git
	branch = main
[submodule "deps/RAS"]
	path = deps/RAS
	url = git@github.com:Power-Supply-Manufacturers-Association/RAS.git
	branch = main
[submodule "deps/CAS"]
	path = deps/CAS
	url = git@github.com:Power-Supply-Manufacturers-Association/CAS.git
	branch = main
[submodule "deps/SAS"]
	path = deps/SAS
	url = git@github.com:Power-Supply-Manufacturers-Association/SAS.git
	branch = main
[submodule "deps/MAS"]
	path = deps/MAS
	url = git@github.com:Power-Supply-Manufacturers-Association/MAS.git
	branch = main
[submodule "deps/CIAS"]
	path = deps/CIAS
	url = git@github.com:Power-Supply-Manufacturers-Association/CIAS.git
	branch = main
[submodule "deps/TAS"]
	path = deps/TAS
	url = git@github.com:Power-Supply-Manufacturers-Association/TAS.git
	branch = main
[submodule "deps/AAS"]
	path = deps/AAS
	url = git@github.com:Power-Supply-Manufacturers-Association/AAS.git
	branch = main
[submodule "deps/CONAS"]
	path = deps/CONAS
	url = git@github.com:Power-Supply-Manufacturers-Association/CONAS.git
	branch = main
[submodule "deps/CTAS"]
	path = deps/CTAS
	url = git@github.com:Power-Supply-Manufacturers-Association/CTAS.git
	branch = main
